body {
  background-color: hsl(194 100% 90%);
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.banner {
  text-align: center
}
.bannerImage {
  width: 1000px;
  height: auto;
  align-items: center;
}
.projectName {
  font-size: 70px;
}